* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .signupParentDiv {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 236, 238);
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .signupDiv{
      border-radius: 8px;
    border: 1px solid black;
    padding: 20px;
    width: 370px;
  }
  .signupDiv form {
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
      padding: 5px;
    }
    
    .signupDiv form div {
      display: flex;
      flex-direction: column;
    }
    
    input {
      padding: 0.5rem;
      border-radius: 0.3rem;
      border: 1px solid gray;
      font-size: 1.1rem;
    }
  .signupDiv .Eye_icon{
      cursor: pointer;
      position: absolute;
      top: 10px;
      left: 290px;
  }
  .signupDiv button {
    background-color: rgb(80, 98, 255);
    color: white;
    border: none;
    margin-top: 10px;
    padding: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0.3rem;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

